<h1>Teams</h1>

<% if (teams.length) { %>
<ul>
  <% for (let ix = 0; ix < teams.length; ix++) { %>
    <li>
      <p><%= teams[ix].name %></p>
      <p><a href="/team/<%= teams[ix]._id %>/edit">Edit team</a></p>
      <p><a href="/team/<%= teams[ix]._id %>/assignments">Assignments</a></p>
    </li>
  <% } %>
</ul>
<% } %>

<h2>Create a new team</h2>

<form action="/team" method="post">
  <div>
    <label for="name">Team name:</label>
    <input type="text" name="name">
  </div>
  <div>
    <input type="submit" value="Add">
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
  </div>
</form>
